@import 'typeface-poppins';
@import 'typeface-raleway';

$light-gray: #d4d4d4;
$primary-blue: #9f0b0b;
$nav-bg: rgba(0, 0, 0, 0.105);
$break-lg: 87.5rem;
$break-md: 48rem;

.wrapper-navbar {
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0 auto auto 0;
  width: 100%;
  z-index: 10000;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &:hover,
  &.active {
    background-color: $nav-bg;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
    padding: 0 0.5rem;
  }
}

.links-navbar-center {
  ul {
    list-style: none;
    display: flex;

    li {
      a {
        position: relative;
        margin: 0 1.25rem;
        font: 400 1.25rem 'Raleway', sans-serif;
        color: $light-gray;
        text-decoration: none;
        overflow: hidden;

        &::after {
          content: '';
          position: absolute;
          inset-inline-start: 0;
          bottom: -0.3125rem;
          width: 100%;
          height: 0.125rem;
          background-color: $light-gray;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }

      &.active a {
        color: $light-gray;

        &::after {
          background-color: $light-gray;
          transform: scaleX(1);
        }
      }
    }
  }
}

.nav-menu {
  position: fixed;
  inset: 0 0 0 auto;
  right: -200%;
  width: 15.625rem;
  height: 100vh;
  padding: 6.25rem 0 0 1.875rem;
  background: #d4d4d4;
  backdrop-filter: blur(10px);
  transition: right 0.3s ease;
  z-index: 1001;

  &.active {
    right: 0;
    overflow: hidden;
  }

  ul {
    margin-top: 3.125rem;
    list-style: none;

    li {
      margin: 0.625rem 0;

      a {
        position: relative;
        margin: 0.625rem 0;
        font: 600 1.25rem 'Raleway', sans-serif;
        color: #272B2D;
        text-decoration: none;
        overflow: hidden;

        &::after {
          content: '';
          position: absolute;
          inset-inline-start: 0;
          bottom: -0.3125rem;
          width: 100%;
          height: 0.125rem;
          background-color: #272B2D;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }

      &.active a,
      &:hover a {
        color: #272B2D;

        &::after {
          background-color: $primary-blue;
          transform: scaleX(1);
        }
      }
    }
  }
}

.hamburger,
.apply-hamburger {
  display: none;
  z-index: 1002 !important;
}

.hamburger {
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;

  &.active .bar:nth-child(2) {
    opacity: 0;
  }

  &.active .bar:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
  }

  &.active .bar:nth-child(3) {
    transform: translateY(-0.75rem) rotate(-45deg);
  }
}

.apply-hamburger {
  width: 2.1875rem;
}

.bar {
  display: block;
  width: 2.1875rem;
  height: 0.3125rem;
  margin: 0.3125rem auto;
  background-color: $light-gray;
  border-radius: 1.875rem;
  transition: all 0.3s ease-in-out;

  &.active {
    background-color: darken($primary-blue, 15%);
  }
}

.login-container,
.login-container-inside {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  button {
    padding: 0;
    border: none;
    background: none;
    font: 500 1.25rem 'Raleway', sans-serif;
    color: #000;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #bbbbbb !important;
    }
  }
}

@media (max-width: $break-lg) {
  .wrapper-navbar {
    justify-content: space-between;
    padding-inline: 1.25rem;
  }

  .hamburger,
  .apply-hamburger {
    display: block;
  }

  .links-navbar-center {
    display: none;
  }
}

@media (min-width: $break-lg) {
  .nav-menu {
    display: none;
  }
}

.FormSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  padding: 4rem;
  background: #132A35;

  .ImageSection {
    width: 50%;

    .contact-image {
      max-width: 100%;
      height: auto;
      border-radius: 1rem;
      box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    }
  }

  .ContactTitle {
    width: 50%;
    color: $light-gray;
    font: 300 1rem 'Raleway', sans-serif;
    letter-spacing: 0.02rem;
    padding-bottom: 1rem;

    h2 {
      margin: 0;
      font: 300 4rem 'Raleway', sans-serif;
      letter-spacing: 0.1rem;
      color: $light-gray;
    }

    .ContactForm {
      max-width: 80%;
      text-align: left;

      .ant-form {
        width: 100%;
        border-radius: 0.5rem;
        color: $light-gray;

        .ant-form-item-label > label {
          line-height: 1.5;
          font: 500 1rem 'Raleway', sans-serif;
          color: $light-gray;
        }

        .ant-input,
        .ant-input-number,
        .ant-textarea {
          width: 100%;
          background-color: #2c3e50;
          border: 0.0625rem solid #34495e;
          color: $light-gray;

          &::placeholder {
            font: 300 1rem 'Raleway', sans-serif;
            color: $light-gray;
          }
        }

        .ant-btn-primary {
          width: 8rem;
          height: 4rem;
          border-radius: 8rem;
          background-color: rgb(186, 125, 10);
          color: $light-gray;
          font: 1rem 'Raleway', sans-serif;

          &:hover,
          &:focus {
            background-color: #2980b9;
            border-color: #1c5980;
          }
        }
      }
    }
  }
}

@media (max-width: $break-md) {
  .FormSection {
    flex-direction: column;

    .ImageSection,
    .ContactTitle {
      width: 100%;
    }
  }

  .ant-form {
    padding: 1rem;
  }

  .ant-form-item-label {
    margin-bottom: 0.125rem;
  }
}
