@import 'typeface-raleway';
@import 'typeface-poppins';

.wrapper-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

.wrapper-assist-footer {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.footer-main-container {
  width: 100%;
  background-color: #ffffff;
  color: rgb(19, 42, 53);
  font-family: 'Poppins', sans-serif;

  .footer-logo-container {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .gorilla-logo {
      width: 40px;
      height: 40px;
    }
  }

  .footer-middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    
    .footer-menu-container {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .footer-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
    max-width: 1200px;

    .footer-footer-logo,
    .footer-footer-social {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer-footer-terms {
      text-align: center;
    }
  }
}

@media (max-width: 1000px) {
  .footer-middle {
    flex-direction: column;
    align-items: center;
  }

  .footer-footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 700px) {
  .footer-menu-container {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
}
