@import 'antd/dist/reset.css'; 
@import 'typeface-raleway';
@import 'typeface-poppins';

.container {
  background: #132A35;
  padding: 4rem 10rem 6rem 10rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #d4d4d4;
  font-weight: 300;
  letter-spacing: 0.02rem;
  text-align: center;

  h2 {
    border-bottom: 2px solid #d4d4d4; 
    width: 15rem;
    text-align: center;
    margin: 0 auto; 
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 0.02rem;
    font-size: 2rem;
  }

  p {
    padding-top: 2rem; 
    line-height: 1.6; 
  }
}


.ant-carousel .slick-prev, 
.ant-carousel .slick-next {
  z-index: 1;
}

.ant-carousel .slick-prev {
  left: 30px !important;
}

.ant-carousel .slick-next {
  right: 30px !important;
}
